{% extends 'base.html' %}

{% block content %}
    <h2>Sign Up</h2>
        <form method="POST" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button class="btn btn-success" type="submit">Register</button>
            <small>Already have an account? <a href="{% url 'login' %}">Login</a></small>
            <p> ---OR--- </p>
            <a href="{% url 'social:begin' 'github' %}" class="btn btn-primary">Github</a>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-secondary">Google+</a>
        </form>
{% endblock %}